body, h1, h2, h3, h4, h5, h6, p{
	font-family: "Open Sans"
}

#secondary-header button {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
}

img {
	max-width: 100%;
}

#little-images h2 {
	margin: 0;
}

#navbar {
	width: 100%;
	background-color: rgb(76, 137, 48);
	font-weight: 300;
}

#navbar a {
	color: rgb(255, 255, 255);
}


#navbar-menu {
	margin: auto 0;
	background-color: rgb(76, 137, 48);
	width: 100%;
}

#dropdown-container {
	margin: auto 1em;
}

.content-wrapper {
	width: 75%;
	margin: auto;
}

.big-wrapper {
	width: 66%;
	margin: auto;
}

.huge-wrapper {
	max-width: 500px;
	margin: auto;
}

#secondary-header {
	margin: 0 auto;
	padding: 10px 0;
}

#secondary-header-menu {
	border: 0;
	box-shadow: none;
}

.secondary-header-text-link {
	opacity: 0.5
}

#main-image {
	height: 475px;
	overflow: hidden;
	background-image: url("images/4L7C5828.png");
	background-size: cover;
	margin-bottom: 40px;
	position: relative;
}

#main-image h2 {
	margin-bottom: 20px;
}

#image-elements {
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
}

#image-elements button {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
}

.software-fueling-digital-marketing {
	font-size: 56px;
	color: rgb(255, 255, 255);
	line-height: 1.429;
	font-weight: 300;
}

.learn-more {
	font-size: 20px;
	color: rgb(255, 255 ,255);
	line-height: 1.25;
}

#little-images {
	width: 100%;
	margin-bottom: 40px;
}

#little-images img {
	width: 100%;
}

.little-image-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: rgb(255, 255, 255);
}

#stats {
	margin-bottom: 40px;
	text-align: center;
}

#stats img {
	display: inline-block;
	vertical-align: middle;
}

.stats-number {
	font-size: 56px;
	font-weight: 300;
}

.stats-text {
	margin-top: 0.5em;
	color: rgb(55, 58, 60);
	font-size: 20px;
	font-weight: 500;
}

.stats-container {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	padding-left: 15%;
	line-height: 1;
}

.stats-column {
	position: relative;
}

#news {
	background-color: rgb(236, 238, 239);
	margin-bottom: 40px;
	padding: 26px;
	padding-bottom: 50px;
}

#news-header {
	font-size: 32px;
	color: rgb(55, 58, 60);
	line-height: 0.75;
	padding-top: 5px;
	padding-bottom: 15px; 
}

.news-date {
	font-size: 13px;
	color: rgb(55, 58, 60);
	line-height: 1.846;
	text-align: left;
	padding: 1px;
}

.news-box {
	font-size: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	margin: 5px;
	max-width: 375px;
	padding: 10px;

}

#references {
	margin-bottom: 40px;
	border-bottom: 1px solid rgb(204, 204, 204);
	padding-bottom: 56px;
}

#reference-header {
	margin-bottom: 40px;
}

.layer-container {
	border: 1px solid rgb(244, 244, 244);
	flex: 1;
	width: 100%;
}

.layer-text-container {
	padding: 25px;
}

.layer-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
	height: 150px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.layer-1 {
	background-image: url("images/Layer 1.png");
}

.layer-2 {
	background-image: url("images/Layer 2.png");
}

.layer-3 {
	background-image: url("images/Layer 3.png");
}

.layer-4 {
	background-image: url("images/Layer 4.png");
}

.reference-name {
	font-size: 24px;
	line-height: 1.042;
	text-align: center;
}

.reference-text {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
}

#subscription {
	margin-bottom: 40px;
	padding: 35px;
}

#subscription-header {
	font-size: 2rem;
}

.subscription-input {
	width: 90%;
}

#subscription-button {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
}

.subscription-text {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	padding-bottom: 22px; 
}

#footer {
	background-color: black;
	padding: 50px 75px;
	width: 100%;
	color: rgb(255, 255, 255);
}

.footer-header {
	font-size: 20px;
	color: rgb(255, 255, 255);
}

#footer-menu {
	background-color: black;
	margin-bottom: 40px;
}

.sales-and-inquiries {
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
	font-weight: 600;
}

#footer-contact-button {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
	vertical-align: bottom;
}

.footer-round-buttons {
	float: right;
}

#twitter-button {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
	display: inline-block;
}

#linkedin-button {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
	display: inline-block;
}

#facebook-button  {
	background-color: rgb(76, 137, 48);
	font-family: "Open Sans";
	color: rgb(255, 255, 255);
	display: inline-block;
}

#footer-list {
}

#footer-list-container {
	float: left;
}

#footer div .item {
	color: rgb(255, 255, 255);
}

.footer-list-container {
}


.parallax { 
    /* The image used */
    background-image: url("img_parallax.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}